<!doctype html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>afkiller백서버</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="/admin/adminDOM.cjs"></script>
    <script src=
"https://code.jquery.com/jquery-3.7.1.min.js">
    </script>
  </head>
  <body>
    <h1>서버 실행중</h1>
    <input id="username" type="text" class="form-control" placeholder="아이디">
    <label for="username">아이디</label>
    <input id="password" type="password" class="form-control" placeholder="비밀번호">
    <label for="password">비밀번호</label>
    <button type="button" class="w-100 btn btn-warning" onclick=showLoginStatus()>관리자 로그인</button>

    <label id="loginStatus"></label>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>